<ng-form *ngIf="form" [formGroup]="form">
  <div *ngFor="let inputField of inputFields; let i=index">
    <ng-container [ngSwitch]="inputField.type">
      <ng-container *ngSwitchCase="'text'">
          <label class="label">{{inputField.label}}</label>
          <input nbInput
                 fullWidth
                 [formControlName]="inputField.name"
                 [status]="inputField.control.valid ? 'basic':'danger'"
                 type="text">
      </ng-container>
      <ng-container *ngSwitchCase="'checkbox'">
        <nb-checkbox
          [status]="inputField.control.valid ? 'basic':'danger'"
          [formControlName]="inputField.name">
          {{inputField.label}}
        </nb-checkbox>
      </ng-container>
      <ng-container *ngSwitchCase="'number'">
        <label class="label">{{inputField.label}}</label>
        <input nbInput
               fullWidth
               [formControlName]="inputField.name"
               [status]="inputField.control.valid ? 'basic':'danger'"
               type="number">
      </ng-container>
      <ng-container *ngSwitchCase="'date'">
        <label class="label">{{inputField.label}}</label>
        <input fullWidth nbInput placeholder="Pick Date" [nbDatepicker]="dateTimePicker" [formControlName]="inputField.name">
        <nb-datepicker #dateTimePicker></nb-datepicker>
      </ng-container>
    </ng-container>
    <hr>
  </div>
  <ng-container>
    <button nbButton (click)="submitBtnClicked($event)" [disabled]="!form.valid">
      {{"Save"}}
    </button>
  </ng-container>
</ng-form>
